* {
  margin: 0;
  padding: 0;
}
.shopping-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
.list-item{
  background-color: #070707;
  padding: 15px;
  width: 300px;
}
.item-add-button{
 
  background-color: #F8C3BD;
  color: #ED645C;
  width: 15%;
  padding: 10px;
  border:  1px solid #ED645C;
}
.item-cart{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  padding:10px 0;
  color: rgb(227, 230, 233);
  position: relative;
}
.cart-count-enabled,.cart-count-disabled {
  padding: 5px;
  border: 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  width: 70px;
  
 
}
.cart-count-enabled,.cart-count-enabled button{
  background-color: white;
}
.cart-count-enabled .common{
  color: black;
}
.cart-count-disabled,.cart-count-disabled button{
  background-color: rgb(148, 143, 143)
}
.cart-count-disabled .common{
  color: rgba(17, 1, 1, 0.274);
}
.cart-count button{
  border: 0;

}
.total-cart{
  text-align: end;
  color: rgb(227, 230, 233);
  margin-top: 15px;
}
.item-number{
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-number input{
  margin-right: 10px;
}
.add-item-field{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.add-item-field input{
  width: 80%;
  padding: 9px;
  background-color: #F8C3BD;
  border: 0px;
  font-size: 16px;
  color: #000000;
}
.add-item-field input:focus{
  outline: none;
}
.add-item-field input::placeholder{
  font-size: 18px;
  color: #ED645C;
}
.cart-count-value{
  color: #ffffff;
}
.common,.item-add-button,.item-number input{
  cursor: pointer;
}
.item-number input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}
.round input[type="checkbox"]{
 width: 50px;
}
.delete-button{
  color: rgb(226, 212, 18);
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  right: 100px;
} 
